/* general ###################################### */
*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(230, 230, 230);
    color: #000;
    line-height: 1.5;
    font-size: 15px;

}
li{
    text-decoration: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
    }
/* heder section ################################ */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px 0px;
    font-size: 1rem;
}
.header ul{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.header ul li{
    padding: 0 10px 0 3vw;

}
.header a{
    padding-bottom: 10px;

}
.header a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}
.header .mainLogo{
    width: 30vw;
    max-width: 200px;
    border-radius: 200px;
}

.header .profileMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.header .profileMenu img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
/* podcast banner section */
.podcastBanner{
    background: url("../images/podcastBanner.jpg") no-repeat top center/cover;
    width: 100%;
    height: 25vmax;
    min-height: 200px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    gap: 5vh;
    margin: 20px 0;
    font-weight: bolder;
}
.podcastBanner p{
    color: white;
    width: 50%;
    align-content: center;
    padding-right: 25px;

}
.podcastBanner a{
    margin-right: 50px;
}
.btn{
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    width: fit-content;
}

.btn:hover{
    color: blue;
}
/* learning section */
.learningSection{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    justify-content: center;
    align-content: stretch;
    gap: 20px;
}
.learningItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.learningItems img{
    width: 100%;
}

.learningItems a{
    font-weight: bold;
    background: #262626;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 5px 0px;
    width: 25%;
}
.learningItems a:hover{
    color: blue;
}


/* live trade section */
.liveTradeSection{
    background-image: url("../images/livetrade.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.liveTradeSection .liveTradeItems{
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.4s;
}
.liveTradeSection .liveTradeItems:hover{
    transform: scale(1.1);
}
.liveTradeSection .liveTradeItems a{
    align-self: flex-end;
}
.liveTradeSection a{
    direction: ltr;
}

/* news section */
.newsSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    height: 210px;
    width: 200px;
}

.newsSection .card .face.face1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    height: 150px;
    transform: translateY(25px);
    transition: 0.4s;
    z-index: 1;
    box-shadow: 5px 5px 5px black;
}
.newsSection .card .face.face1 h1{
   background-color: rgba(128, 128, 128, 0.589);
   width: 100%;
   text-align: center;
   text-shadow: 1px 1px white , -1px -1px white;
   transition: 1s;
   box-sizing: border-box;
}
.newsSection .card:hover .face.face1 h1{
    opacity: 0;
}
.newsSection .card:hover .face.face1{
    transform: translateY(0);
    
    box-shadow: 10px 10px 20px black;
}

.newsSection .card .cryptoCurrencyNews{
    background: url(../images/cryptoNews.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.newsSection .card .breakingNews{
    background: url(../images/breakingNews.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.newsSection .card .borsNews{
    background: url(../images/dailyNews.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.newsSection .card .topicsNews{
    background: url(../images/topics.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.newsSection .card:hover .face.face2{
    transform: translateY(10px);
}
.newsSection .card .face.face2{
    box-sizing: border-box;
    height: 50px;
    transform: translateY(-75px);
    transition: 0.4s;
}
.newsSection .card .face.face2 a{
    box-sizing: border-box;
    height: 50px;
}
.newsSection .card:hover .face.face2 a{
    box-shadow: 8px 8px 10px black;
}


/* footer section */
.links{
    height: 300px;
    background-color: gray;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    align-items: stretch;
    gap: 5px;
}

.aboutUs , .contactUs , .shortcut , .followUs{
    background-color: rgb(108, 107, 107);
}

.links .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutUs p{
    font-size: large;
}

.links  h3{
    position: relative;
    font-size: x-large;
    transition: 0.4s;
    text-align: center;
    background: none;
    z-index: 1;
    margin-right: 20px;
    width: fit-content;
    box-sizing: border-box;

}
.links  h3::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(0, 0, 255);
    transform: scalex(0);
    transition: 0.4s;
    transform-origin: left;
    transition:transform 1s ease;
    z-index: -1;
}
.links  h3:hover::before {
    transform-origin: left;
    transform: scalex(0.5);
}

.contactUs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.contactUs div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0.7;
}

.contactUs img{
    width: 19px;
     transform: translateY(5px);
}

.shortcut{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shortcut ul{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.followUs{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.followUs .socialMedia{
    position: absolute;
    align-self: stretch;
    top : 25%;
    left : 40%;
    
}


/* social media section */
.socialMedia{
    position: relative;
    padding: 0;
    margin: 0;
    align-items: center;
    transform-origin: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: url("/images/socialMedia.jpg");
    background-size: cover;
}

.socialMedia img{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    top: -4px;
    right: -3px;
    z-index: -1;
}
.socialMedia a{
    position: absolute;
    transition: 1s;
    opacity: 1;
    top : 22%;
    left: 5%;
    width: 30px;
    border-radius: 100%;
}

.socialMedia:hover a:nth-child(1){
    transform: translate(0px,120%);
    opacity: 1; 
}
.socialMedia:hover a:nth-child(2){
    transform: translate(140%,-0px);
    opacity: 1;
}
.socialMedia:hover a:nth-child(3){
    transform: translate(-140%,0px);
    opacity: 1;
}
.socialMedia:hover a:nth-child(4){
    transform: translate(0,-120%);
    opacity: 1;
}
/* media qurey */
@media only screen and (max-width:950px) {
    .learningSection{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        justify-content: center;
        align-content: stretch;
    }

    .liveTradeSection{
        height: 25vmax;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
    }
    .liveTradeSection p , h3 , a{
        font-size: 2vw;
    }

    .links{
        height: min-content;
        background-color: gray;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: stretch;
        gap: 5px;
    }
}

@media only screen and (max-width:550px) {
    .learningSection{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        justify-content: center;
        align-content: stretch;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        height: 80px;
        padding: 30px 0px;
        font-size: 1rem;
    }

    .header ul{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;
    }
}
